*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:Arial, sans-serif;
    background:#f5f7fa;
    color:#333;
}


section{
    width:85%;
    max-width:1200px;
    margin:80px auto;
}


h2{
    color:#003366;
    margin-bottom:30px;
    font-size:36px;
}


.card{
    background:white;
    padding:35px;
    margin-bottom:30px;
    border-radius:16px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
}


.card h3{
    color:#003366;
    font-size:24px;
    margin-bottom:15px;
}


.card p{
    line-height:1.8;
    font-size:17px;
}


.faculty-container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}
